body
	{
		margin: 0;
		padding: 0;
		background-image: url("imp.jpg");
		background-size: cover;
		
		font-family: Calibri ;
	}


.intro.inner{

	vertical-align: middle;
	width: 100%;

}


h3
	{
		

	}